<%- include('partials/header') %>
<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x animate__animated animate__zoomIn"></i>
    <h1 class="display-3 animate__animated animate__zoomIn" >Secrets</h1>
    <p class="lead animate__animated  animate__slideInDown">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg animate__animated animate__slideInLeft" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg animate__animated  animate__slideInDown" href="/login" role="button">Login</a>
    <a class="btn btn-danger btn-lg animate__animated  animate__slideInRight" href="/secrets" role="button">Secrets</a>

  </div>
</div>

<%- include('partials/footer') %>
