<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x animate__animated animate__tada"></i>
    <h1 class="display-3 animate__animated animate__fadeIn animate__delay-1s">You've Discovered My Secret!</h1>
    <% users.forEach(function(user){ %>
      
      <% user.secret.forEach(function(secret){ %>
        <p class="secret-text animate__animated animate__backInDown animate__delay-2s" ><%=secret %></p>
     <% }) %>
   <% })%>
    <hr>
    
    <a class="btn btn-light btn-lg animate__animated animate__fadeInUp animate__delay-3s " href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg animate__animated animate__fadeInUp animate__delay-3s"  href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
